@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    --yellow: #FFF5AC;
    --darkYellow: #EFE58D;
    --black: #111827;
    --grey1: #DBDBDB;
    --grey2: #969696;
    --grey3: #606060;
    --grey4: #5F5C5C;
    --greyBg: #F2F2F2; 
}

*{
    font-family: 'Source Sans 3'; 
    margin: 0px; 
    padding: 0px; 
    cursor: default; 
}
